<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeWorkout"
        tools:targetApi="31">
        <activity
            android:name=".abs_page"
            android:exported="false" />
        <activity
            android:name=".report_page"
            android:exported="false" />
        <activity
            android:name=".discoverPage"
            android:exported="false" />
        <activity
            android:name=".Home_page"
            android:exported="false" />
        <activity
            android:name=".thanks_page"
            android:exported="false" />
        <activity
            android:name=".what_holds_you_back"
            android:exported="false" />
        <activity
            android:name=".how_much_active_you_are"
            android:exported="false" />
        <activity
            android:name=".whatIsYourGoal"
            android:exported="false" />
        <activity
            android:name=".activity_sign_up"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>